@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&family=Roboto:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* style untuk header */
header {
    display: flex;
    background-color: #3f73aa;
    padding: 25px 0px;
    align-items: center;
}

.right-section-header {
    width: 70%;
}

.left-section-header {
    width: 30%;
    display: flex;
    /* align-items: center; */
    justify-content: end;
    padding-right: 40px;
}

.left-section-header img {
    width: 130px;
}

.right-section-header h1 {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.right-section-header h2 {
    font-size: 40px;
    color: white;
}

/* style untuk main */
main {
    margin: 40px;
}

.first-section {
    width: 100%;
}

#input-file.form-control {
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
}

#timetabling_wrapper > .row {
    margin-bottom: 10px;
}

/* styling for input section */
/* .input-section {
    width: 30%;
} */

.input-pengampu-section > h3 {
    color: #045c84;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.input-pengampu-section {
    width: 25%;
    border: 3px solid #045c84;
    border-radius: 20px;
    padding: 35px;
    margin-bottom: 50px;
    /* margin: 25px; */
    /* height: 40%; */
}

.input-pengampu-section > form > .input {
    margin: 15px 0px;
}

.input-pengampu-section > form > .input > input, .input-pengampu-section > form > .input > select {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 10px;
}

.input-pengampu-section > form > .input > input:focus, .input-pengampu-section > form > .input > select:focus {
    outline: 1px solid #045c84;
    box-shadow: 0 0 10px #719ECE;
}

.input-pengampu-section > form > .input > input:focus::placeholder {
    color: #dddfe2;
}

.input-pengampu-section > form > .input-complete {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.input-pengampu-section > form > .input-complete > input {
    height: 15px;
    width: 15px;
    margin: 0px 7px;
    color: #045c84;
}

.input-pengampu-section > form > button {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #719ECE;
    border: 2px solid #719ECE;
    color: white;
    cursor: pointer;
}

.input-pengampu-section > form > button:hover {
    border: 2px solid #719ECE;
    background-color: white;
    color: #719ECE;
    cursor: pointer;
}

/* styling for pengampu section */
/* .pengampu-list-container {
    width: 70%;
} */

.pengampu-list-section {
    width: 100%;
    border-radius: 20px;
    /* padding-right: 20px; */
}

.pesanan-list-section {
    width: 75%;
    border-radius: 20px;
    padding-right: 20px;
    margin-bottom: 80px;
}

.second-section {
    display: flex;
    margin-top: 60px;
}

.pesanan-list-section > h3 {
    color: #045c84;
}

/* style untuk button */
.edit-btn {
    padding: 2px;
    border-radius: 10px;
    background-color: #fee748;
    border: none;
    /* max-height: 35px; */
    min-height: 30px;
    min-width: 30px;
    margin: 5px;
}

.edit-btn:hover {
    background-color: #eed743;
}

.delete-btn {
    padding: 2px;
    border-radius: 10px;
    background-color: #a7c0ff;
    border: none;
    /* max-height: 35px; */
    min-height: 30px;
    min-width: 30px;
    margin: 5px;
}

.delete-btn:hover {
    background-color: #569fec;
}

/* style untuk tabel jadwal */
.proses-jadwal-btn-container {
    display: flex;
    justify-content: center;
}

.proses-jadwal-btn, .download-jadwal-btn {
    font-size: 16px;
    width: 15%;
    padding: 10px;
    border-radius: 10px;
    background-color: #719ECE;
    border: 2px solid #719ECE;
    color: white;
    cursor: pointer;
    margin: 10px 15px 20px;
}

.proses-jadwal-btn:hover, .download-jadwal-btn:hover {
    background-color: #3f73aa;
    border: 2px solid #3f73aa;
}

/* style untuk tabel jadwal */
.tabel-daftar-pengampu table td {
    text-align: center;
    vertical-align: middle;
}
.tabel-jadwal {
    border-collapse: collapse;
    /* font-family: Arial, sans-serif; */
    width: 100%;
    font-size: 9px;
}

.tabel-jadwal th, .tabel-jadwal td {
    border: 2px solid #3f73aa;
    padding: 8px;
    text-align: center;
}

.tabel-jadwal th {
    background-color: #a7c0ff;
    color: #3f73aa;
    /* color: black; */
    font-size: 12px;
}

.tabel-jadwal th.time, .tabel-jadwal th.day {
    transform: rotate(180deg);
    transform-origin: center;
    white-space: nowrap;
    writing-mode: vertical-rl;
    /* text-orientation: sideways; */
}

.tabel-senin td, .tabel-rabu td, .tabel-jumat td, .tabel-minggu td {
    background-color: #e6e6e6;
}